@model Employee_Management.Models.Payslip

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Payslip</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmployeeId" class="control-label"></label>
                <select asp-for="EmployeeId" class ="form-control" asp-items="ViewBag.EmployeeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Month" class="control-label"></label>
                <input asp-for="Month" class="form-control" />
                <span asp-validation-for="Month" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PayslipDate" class="control-label"></label>
                <input asp-for="PayslipDate" class="form-control" />
                <span asp-validation-for="PayslipDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BasicSalary" class="control-label"></label>
                <input asp-for="BasicSalary" class="form-control" />
                <span asp-validation-for="BasicSalary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalAllowances" class="control-label"></label>
                <input asp-for="TotalAllowances" class="form-control" />
                <span asp-validation-for="TotalAllowances" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalDeductions" class="control-label"></label>
                <input asp-for="TotalDeductions" class="form-control" />
                <span asp-validation-for="TotalDeductions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NetSalary" class="control-label"></label>
                <input asp-for="NetSalary" class="form-control" />
                <span asp-validation-for="NetSalary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentMethod" class="control-label"></label>
                <input asp-for="PaymentMethod" class="form-control" />
                <span asp-validation-for="PaymentMethod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comments" class="control-label"></label>
                <input asp-for="Comments" class="form-control" />
                <span asp-validation-for="Comments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
